.login_container {
    -fx-background-color: #FFFFFF;
}

/* Logo Container Styles */
.login_logo_container {
    -fx-background-color: #296746;
    -fx-alignment: center;
}
.login_logo_container Text {
    -fx-font-size: 2.5em;
    -fx-fill: #EEEEEE;
}
.login_container FontAwesomeIconView {
    -fx-fill: white;
}

/* Account Selector */
.account_selector .label {
    -fx-font-size: 1.1em;
    -fx-text-fill: #000000;
}
.account_selector .choice-box {
    -fx-background-color: #EEEEEE;
}

/* Login Form  */
.login_form_container {
    -fx-spacing: 15;
    -fx-alignment: center;
    -fx-background-color: gray; /* Change later */
}
.login_form_container .label {
    -fx-text-fill: #000000;
    -fx-font-size: 1.2em;
}
.login_form_container Button {
    -fx-background-color: #296746;
    -fx-text-fill: Beige;
    -fx-font-size: 1.2em;
}
.login_form_container Button.hover {
    -fx-cursor: hand;
}
.login_form_container .error_warning {
    -fx-text-fill: red;
}

